@media (max-width: 1199px)
  .container
    max-width: 960px
  .main-catalog
    &__buttons
      width: 52%
    &__preview
      &-lg
        height: 400px
        width: 250px
      &-sm
        &-item
          width: 180px
          height: 190px
  .person__reviews-buttons-item
    font-size: 17px
  .delpay__grid
    grid-template-columns: repeat(3, 280px)
    &-item
      width: 285px
      padding: 55px 28px
  .catalog
    &__items-block
      grid-template-columns: repeat(3, 295px)
@media (max-width: 991px)
  .person__reviews
    &-buttons
      
  .container
    max-width: 720px
  .desc-section
    &__flex-block
      flex-direction: column
      &_img
        width: 80%
        margin-bottom: 30px
      &_txt
        width: unset
        & h1
          margin-bottom: 30px
    &__benefits-cards
      &-item
        &_top
          & img
            width: 50px
            height: 50px
            margin-right: 19px
          & span
            font-size: 29px
        &_bottom
          font-size: 19px

  .main-catalog
    &__buttons
      width: 69%
    &__preview
      flex-direction: column
      &-lg
        height: 490px
        width: 330px
        & img
          width: 100%
      &-sm
        flex-direction: unset
        &-item
          width: 160px
          height: 190px
      &_lg-wrapper
        display: flex
        justify-content: space-between
        margin-bottom: 30px
  .reviews
    &__main-block
      &__links
        width: 710px
        &-link
          padding: 23px 30px
          height: 70px
          font-size: 20px
        &-desc
          height: 70px
          font-size: 20px
          padding: 23px 30px
  .delpay
    &__grid
      grid-template-columns: repeat(2, 320px)
      grid-row-gap: 35px
      &-item
        width: 320px
        padding: 55px 45px
  .faq
    &__title
      font-size: 38px
  .person
    &__buttons-item
      font-size: 16px
      padding: 10px
    &__favorites-wrapper-items
      grid-template-columns: repeat(3, 210px)
  .catalog
    &-section-search__search-block
      width: 476px
    &__items-block
      grid-template-columns: repeat(2, 310px)
  .cart
    &__total-wrapper-buttons
      &_link
          padding: 24px 55px
      &_inp
          width: 360px
@media (max-width: 767px)
  
  .container
    max-width: 540px
  .reviews
    &__main-block
      align-items: center
  .person
    &__delivery-info_block
      height: 210px
    &__delivery-items
      display: grid
      grid-template-columns: repeat(2, 240px)
      justify-content: space-between
      &_item_img
        width: 130px
        height: 130px
    &__delivery-links
      width: 100%
      height: 100px
      flex-direction: column
      align-items: center
      &_track
        width: 163px
      &_deliv
        width: 250px
  .cart
    &__title
      text-align: center
    &__total
      &-wrapper
        padding: 50px 40px
        &-info
          &_total
            font-size: 30px
          &_suptotal
            font-size: 18px
    &__total-wrapper-buttons
      &_link
          padding: 24px 30px
      &_inp
          width: 250px
  .desc-section
    &__flex-block_txt
      font-size: 21px
    &__benefits-cards
      &-item
        &_top
          & img
            width: 40px
            height: 40px
            margin-right: 10px
          & span
            font-size: 23px
        &_bottom
          font-size: 15px
  .main-catalog
    &__buttons
      width: 93%
    &__preview
      &-lg
        height: 423px
        width: 240px
      &-sm
        &-item
          width: 120px
          height: 150px
          font-size: 18px
  .reviews
    &__main-block
      &-title
        font-size: 37px
      &__links
        width: unset
        &-link
          padding: 24px 23px
          font-size: 20px
        &-desc
          font-size: 18px
          padding: 22px 24px
  .delpay
    &__grid
      grid-template-columns: repeat(2, 240px)
      &-item
        width: 240px
        padding: 45px 29px
  .faq
    &__title
      font-size: 28px
    &__item
      &-first-block
        padding-right: 27px
        padding-left: 30px
      &-title
        font-size: 19px
      &:not(:last-child)
        margin-bottom: 30px
  .faq__item.active .faq__item-about
    height: 146px
  .main-form
    &__grid
      display: block
      width: 346px
    &__form__label
      font-size: 12px
  .auth__links-auth
    width: 100%
  .person
    &__favorites-wrapper-items
      grid-template-columns: repeat(2, 240px)
      grid-row-gap: 65px
    &__info
      &-input
        width: 180px
        font-size: 30px
    &__info-item
      &:first-child
        font-size: 30px
      &:nth-child(2)
        font-size: 16px
      &:nth-child(3)
        font-size: 16px
      &:nth-child(4)
        font-size: 14px
    &__buttons
      // padding: 0 10px
      justify-content: space-evenly
      &-flex
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 115px
      &-item
        font-size: 20px
  .catalog
    &-section-search__search-block
      width: 476px
    &__items-block
      grid-template-columns: repeat(2, 247px)     
@media (max-width: 575px)
  .container
    max-width: 400px
  .cart__title
    text-align: center
  .cart
    margin-bottom: 40px
    &__wrapper
      margin-bottom: 40px

    &__total
      display: flex
      flex-direction: column
      align-items: center
      &-wrapper
        margin-bottom: 40px
        padding: 20px 19px
        width: 300px
        height: 300px
        flex-direction: column
        justify-content: center
        &-buttons
          flex-direction: column
          height: 180px
          justify-content: space-between
        &-price
          align-items: center
        &-info_suptotal
          font-size: 17px
          & span
            margin-left: 4px
  .person__delivery-items
    grid-template-columns: repeat(1, 300px)
    justify-content: center
  .desc-section__benefits-cards
    height: 650px
    flex-direction: column
    align-items: center
    &-item
      width: 66%
      &_top
        & img
          margin-right: 23px
          width: unset
          height: unset
        & span
          font-size: 36px
      &_bottom
        font-size: 20px
  .main-catalog
    &__container
      display: flex
      flex-direction: column
      align-items: center
    &__title
      font-size: 37px
    &__buttons
      width: 100%
      &-item
        padding: 8px
    &__preview
      &-lg
        width: 350px
        height: 564px
        margin-bottom: 50px
      &-sm
        &:not(:last-child)
          margin-bottom: 20px
        &-item
          width: 165px
  .reviews
    &__main-block
      align-items: center
      &-title
        font-size: 28px
      &__links
        width: unset
  .delpay
    &__container
      display: flex
      flex-direction: column
      align-items: center
    &__title
      font-size: 37px
    &__suptitle
      font-size: 19px
    &__grid
      grid-template-columns: repeat(1, 320px)
      &-item
        padding: 73px 45px
        width: 320px
  .faq
    &__container
      display: flex
      flex-direction: column
      align-items: center
    &__title
      font-size: 20px
    &__item
      &-title
        font-size: 16px
  .buttons__10-item
    font-size: 15px
  .auth__title
    font-size: 27px
  .person
    &__delivery
      &-history
        &_wrapper
          display: flex
          flex-direction: column
          align-items: center 
    &__img-block
      margin-right: unset
      margin-bottom: 34px
    &__info
      width: unset
    &__card
      flex-direction: column
      align-items: center
      height: unset
    &__favorites-wrapper-items
      grid-template-columns: repeat(1, 270px)
      justify-content: center
  .catalog
    &__title
      font-size: 25px
    &__block
      display: flex
      flex-direction: column
      align-items: center
    &-section-search__search-block
      width: 100%
    &__items-block
      grid-template-columns: repeat(1, 270px)  