# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
client/build/asset-manifest.json
client/build/asset-manifest.json
client/build/assets/img/order-accepted.png
client/build/index.html
client/build/static/css/main.bfbd7cee.css
client/build/static/css/main.bfbd7cee.css.map
client/build/static/css/main.d5e7970b.css
client/build/static/css/main.d5e7970b.css.map
client/build/static/js/main.8314ca36.js
client/build/static/js/main.8314ca36.js.LICENSE.txt
client/build/static/js/main.8314ca36.js.map
client/build/static/js/main.9281afa1.js
client/build/static/js/main.9281afa1.js.LICENSE.txt
client/build/static/js/main.9281afa1.js.map
client/src/axios.js
server/2.py
client/build/asset-manifest.json
client/build/index.html
client/build/static/css/main.d5e7970b.css
client/build/static/css/main.d5e7970b.css.map
client/build/static/js/main.9281afa1.js
client/build/static/js/main.9281afa1.js.LICENSE.txt
client/build/static/js/main.9281afa1.js.map
client/src/axios.js
