@media (max-width: 1199px)
  .container
    max-width: 960px
  .main-catalog
    &__slider
      & .swiper-button-prev
        left: -100px
      & .swiper-button-next
        right: -100px
      &-slide
        width: 283px !important
        height: 270px !important
    &__lg
      &-items
        &-item
          width: 430px
          height: 450px
    &__products-wrapper
      grid-template-columns: repeat(3, 280px)
  .person__reviews-buttons-item
    font-size: 17px
  .delpay
    &__slider
      &_item
        width: 435px !important
      & .swiper-button-prev
        left: 390px
        top: 290px
      & .swiper-button-next
        right: 410px
        top: 290px

  .catalog
    &__items-block
      grid-template-columns: repeat(3, 295px)
@media (max-width: 991px)
  .person__reviews
    &-buttons

  .container
    max-width: 720px
  .desc-section
    &__flex-block
      flex-direction: column
      &_img
        width: 80%
        margin-bottom: 30px
      &_txt
        width: unset
        & h1
          margin-bottom: 30px
    &__benefits-cards
      &-item
        &_top
          & img
            width: 50px
            height: 50px
            margin-right: 19px
          & span
            font-size: 29px
        &_bottom
          font-size: 19px

  .main-catalog
    &__slider
      & .swiper-button-prev
        left: -100px
      & .swiper-button-next
        right: -100px
      &-slide
        width: 330px !important
        height: 290px !important
    &__products-wrapper
      grid-template-columns: repeat(2, 305px)
    &__lg-items
      &-item
        width: 330px
        height: 380px
  .reviews
    &__main-block
      &__links
        width: 710px
        &-link
          padding: 23px 30px
          height: 70px
          font-size: 20px
        &-desc
          height: 70px
          font-size: 20px
          padding: 23px 30px
  .delpay
    &__slider
      &_item
        padding: 0
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        width: 100% !important
        &_step
        &_description
          text-align: center
          font-size: 30px
      & .swiper-button-prev
        left: 290px
        top: 290px
      & .swiper-button-next
        right: 290px
        top: 290px
  .reviews
    &__title
      text-align: center
    &__slider
      position: unset
      &-wrapper
        position: relative
      &-slide
        height: unset !important
        &_two-items
          flex-direction: column
          align-items: center
      & .swiper-button-prev
        left: 280px
        top: 950px
      & .swiper-button-next
        right: 280px
        top: 950px
  .review__banner
    &-title
      width: 453px
    &-decoration
      &.s
      &.m
      &.l
      &.xl
        right: 12px
        bottom: 145px
        width: 100px
        height: 100px

  .faq
    &__title
      font-size: 38px
  .person
    &__buttons-item
      font-size: 16px
      padding: 10px
    &__favorites-wrapper-items
      grid-template-columns: repeat(3, 210px)
    &__info
      width: 60%
    &__secret-change
      &-block
        width: 100%
      &-confirm
        padding: 10px 4px
        width: 30%
  .catalog
    &-section-search__search-block
      width: 476px
    &__items-block
      grid-template-columns: repeat(2, 310px)
  .cart
    &__total-wrapper-buttons
      &_link
        padding: 24px 55px
      &_inp
        width: 360px
@media (max-width: 767px)

  .container
    max-width: 540px
  .reviews
    &__main-block
      align-items: center
  .person
    &__card
      padding: 30px
    &__img-block
      width: 160px
      height: 160px
    &__info
      width: 57%
    &__delivery-info_block
      height: 210px
    &__delivery-items
      display: grid
      grid-template-columns: repeat(2, 240px)
      justify-content: space-between
      &_item_img
        width: 130px
        height: 130px
    &__delivery-links
      width: 100%
      height: 100px
      flex-direction: column
      align-items: center
      &_track
        width: 163px
      &_deliv
        width: 250px
    &__secret
      width: 100%
  .cart
    &__title
      text-align: center
    &__total
      &-wrapper
        padding: 50px 40px
        &-info
          &_total
            font-size: 30px
          &_suptotal
            font-size: 18px
    &__total-wrapper-buttons
      &_link
        padding: 24px 42px
      &_inp
        width: 250px
        padding: 0 39px
  .desc-section
    &__flex-block_txt
      font-size: 21px
    &__benefits-cards
      &-item
        &_top
          & img
            width: 40px
            height: 40px
            margin-right: 10px
          & span
            font-size: 23px
        &_bottom
          font-size: 15px
  .main-catalog
    &__title
      text-align: center
    &__slider
      & .swiper-button-prev
        left: -100px
      & .swiper-button-next
        right: -100px
      &-slide
        width: 100% !important
        height: 290px !important
    &__products-wrapper
      grid-template-columns: repeat(1, 305px)
      justify-content: center
    &__lg-items
      flex-direction: column
      align-items: center
      &-item
        width: 80%
        height: 450px
        &:not(:last-child)
          margin-bottom: 36px
  .reviews
    &__slider
      &-wrapper
      &-slide
        &_two-items
      & .swiper-button-prev
        left: 190px
        top: 950px
      & .swiper-button-next
        right: 190px
        top: 950px
  .delpay
    &__slider
      &_item
        &_step
        &_description
          font-size: 25px
      & .swiper-button-prev
        left: 185px
        top: 290px
      & .swiper-button-next
        right: 185px
        top: 290px
    
  .faq
    &__title
      font-size: 45px
      span
        font-size: 45px
    &__item
      &-first-block
        padding-right: 27px
        padding-left: 35px
      &-title
        font-size: 19px
      &:not(:last-child)
        margin-bottom: 30px
  .faq__item.active .faq__item-about
    transition: height 0.3s ease-in-out
    height: 175px
    padding-bottom: 15px
  .main-form
    &__grid
      display: block
      width: 346px
    &__form__label
      font-size: 12px
  .auth__links-auth
    width: 100%
  .person
    &__favorites-wrapper-items
      grid-template-columns: repeat(2, 240px)
      grid-row-gap: 65px
    &__info
      &-input
        width: 180px
        font-size: 30px
    &__info-item
      &:first-child
        font-size: 24px
      &:nth-child(2)
        font-size: 16px
      &:nth-child(3)
        font-size: 16px
      &:nth-child(4)
        font-size: 16px
    &__buttons
      // padding: 0 10px
      justify-content: space-evenly
      &-flex
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 115px
      &-item
        font-size: 20px
  .catalog
    &-section-search__search-block
      width: 476px
    &__items-block
      grid-template-columns: repeat(2, 247px)
@media (max-width: 575px)
  .container
    max-width: 100%
  .cart__title
    text-align: center
  .cart
    margin-bottom: 40px
    &__wrapper
      margin-bottom: 40px

    &__total
      display: flex
      flex-direction: column
      align-items: center
      &-wrapper
        margin-bottom: 40px
        padding: 20px 19px
        width: 300px
        height: 300px
        flex-direction: column
        justify-content: center
        &-buttons
          flex-direction: column
          height: 180px
          justify-content: space-between
        &-price
          align-items: center
        &-info_suptotal
          font-size: 17px
          & span
            margin-left: 4px
  .person__delivery-items
    grid-template-columns: repeat(1, 300px)
    justify-content: center
  .desc-section__benefits-cards
    height: 650px
    flex-direction: column
    align-items: center
    &-item
      width: 66%
      &_top
        & img
          margin-right: 23px
          width: unset
          height: unset
        & span
          font-size: 36px
      &_bottom
        font-size: 20px
  .main-catalog
    &__title
      text-align: left
    &__slider
      margin-bottom: 138px
      &-sm_title
        font-size: 30px
      &-slide
        width: 100% !important
        height: 200px !important
      & .swiper-button-prev
        top: 300px
        left: 190px
      & .swiper-button-next
        top: 300px
        right: 190px
      & .swiper-pagination
        bottom: 0 !important
    &__lg-items
      &-item
        width: 100%
        height: 550px
        &:not(:last-child)
          margin-bottom: 36px
    &__products-buttons
      margin-right: auto
      margin-left: auto
      
  .reviews
    &__main-block
      align-items: center
      &-title
        font-size: 28px
      &__links
        width: unset
  .delpay
    
  .faq
    &__container
      display: flex
      flex-direction: column
      align-items: center
    &__title
      font-size: 40px
      span
        font-size: 40px
    &__item
      &-title
        font-size: 16px
  .buttons__10-item
    font-size: 15px
  .auth__title
    font-size: 27px
  .person
    &__delivery
      &-history
        &_wrapper
          display: flex
          flex-direction: column
          align-items: center
    &__img-block
      margin-right: unset
      margin-bottom: 34px
    &__info
      width: unset
    &__card
      flex-direction: column
      align-items: center
      height: unset
    &__favorites-wrapper-items
      grid-template-columns: repeat(1, 270px)
      justify-content: center
    &__secret
      height: unset
      margin: 0 0 40px 0
      &-wrapper
        align-items: unset
        width: 100%
      &-change-block
        &-adaptive
          width: 230px
        &-wrapper
          &.adaptive
            width: 100%

  .catalog
    &__title
      font-size: 25px
    &__block
      display: flex
      flex-direction: column
      align-items: center
    &-section-search__search-block
      width: 100%
    &__items-block
      grid-template-columns: repeat(1, 270px)
