@media (max-width: 1199px)
  .container
    max-width: 960px
  .main-form
    &_container

    &__title
      font-size: 56px
    &_buyer
      &_title
        font-size: 36px
      &_items
        flex-wrap: wrap
        margin-bottom: 70px
  .cart
    &__title
      font-size: 56px
    &__all
      flex-wrap: wrap
    &__total
      &-wrapper
        width: 640px
        &-buttons
          width: 640px
          &_inp
            width: 100%
          &_link
            width: 100%
  .personal

    &__interesting
      margin-bottom: 100px
      &_title
        font-size: 32px
        margin-bottom: 40px
      &_slider
        width: 913px
        margin: 0 auto
        margin-bottom: 150px
        position: unset !important
        &_wrapper
          position: relative

        &_item
          margin-bottom: 100px
        & .swiper-button-next.swiper-button-disabled, & .swiper-button-prev.swiper-button-disabled
          border: 2px solid #0528F2
          background: transparent
          opacity: 1
        & .swiper-button-next.swiper-button-disabled
          &:after
            border-color: #0528F2
          &:before
            background: #0528F2
        & .swiper-button-prev.swiper-button-disabled
          &:after
            border-color: #0528F2
          &:before
            background: #0528F2
        & .swiper-button-prev, & .swiper-button-next
          width: 45px
          height: 45px
          background: #0528F2
          border: 2px solid #0528F2
          border-radius: 50%
        & .swiper-button-prev

          top: 410px
          left: 360px
        & .swiper-button-next

          top: 410px
          left: 510px
        & .swiper-button-next:after
          position: absolute
          right: 15px
          content: ''
          width: 10px
          height: 10px
          border-right: 2px solid white
          border-bottom: 2px solid white
          transform: rotate(-45deg)
        & .swiper-button-next:before
          position: absolute
          content: ''
          width: 15px
          height: 2px
          background: white
          right: 14px

        & .swiper-button-prev:after
          position: absolute
          left: 15px
          content: ''
          width: 10px
          height: 10px
          border-right: 2px solid white
          border-bottom: 2px solid white
          transform: rotate(135deg)
        & .swiper-button-prev:before
          position: absolute
          content: ''
          width: 15px
          height: 2px
          background: white
          left: 14px
    &__reviews-block
      &_title
        font-size: 32px
        margin-bottom: 35px

      &_slider

        width: 913px
        top: 0px
        & .swiper-button-prev

          top: 370px
          left: 370px
        & .swiper-button-next
          top: 370px
          right: 370px

        &-item
          margin: 0 auto
          width: 434px !important
          padding: 24px 7px 5px 7px
          span
            padding: 0px 7px 35px 5px
          &_header
            &_img-block
              display: flex
              justify-content: flex-start
              width: 60px
              img
                width: 100%
    &__user-block
      justify-content: flex-start
      flex-wrap: wrap
      gap: 30px
      &_name
        font-size: 54px
      &_profile

    &__middle-block
      justify-content: flex-start

      gap: 50px
      &_buttons
        gap: 25px
        grid-template-columns: 226px 322px
      &_latest-orders

  .main-catalog
    &__buttons
      width: 52%
    &__preview
      &-lg
        height: 400px
        width: 250px
      &-sm
        &-item
          width: 180px
          height: 190px

  .catalog
    &__items-block
      grid-template-columns: repeat(3, 295px)
@media (max-width: 991px)
  .main-form

    &_adress
      &_items
        display: flex
        flex-direction: column
    &_buyer
      &_item
        &_inputs
          gap: 20px 10px
        &_wrapper
          width: 520px
  .personal
    &__middle-block
      flex-wrap: wrap
    &__interesting

      &_slider
        width: 713px

        & .swiper-button-prev

          top: 410px
          left: 270px
        & .swiper-button-next

          top: 410px
          left: 405px

    &__reviews-block

      &_slider

        width: 713px

        & .swiper-button-prev

          top: 350px
          left: 270px
        & .swiper-button-next
          top: 350px
          right: 240px

        &-item

          width: 334px !important

  .container
    max-width: 720px
  .desc-section
    &__flex-block
      flex-direction: column
      &_img
        width: 80%
        margin-bottom: 30px
      &_txt
        width: unset
        & h1
          margin-bottom: 30px
    &__benefits-cards
      &-item
        &_top
          & img
            width: 50px
            height: 50px
            margin-right: 19px
          & span
            font-size: 29px
        &_bottom
          font-size: 19px

  .main-catalog

    &__buttons
      width: 69%
    &__preview
      flex-direction: column
      &-lg
        height: 490px
        width: 330px
        & img
          width: 100%
      &-sm
        flex-direction: unset
        &-item
          width: 160px
          height: 190px
      &_lg-wrapper
        display: flex
        justify-content: space-between
        margin-bottom: 30px
  .reviews
    &__main-block
      &__links
        width: 710px
        &-link
          padding: 23px 30px
          height: 70px
          font-size: 20px
        &-desc
          height: 70px
          font-size: 20px
          padding: 23px 30px

  .faq
    &__title
      font-size: 38px

  .catalog
    &-section-search__search-block
      width: 476px
    &__items-block
      grid-template-columns: repeat(2, 310px)
  .cart
    &__total-wrapper-buttons
      &_link
        padding: 24px 55px

@media (max-width: 767px)

  .container
    max-width: 540px

  .reviews
    &__main-block
      align-items: center
  .personal
    &__user-block
      &_name
        font-size: 44px
    &__interesting

      &_slider
        width: 540px

        & .swiper-button-prev

          top: 410px
          left: 190px
        & .swiper-button-next

          top: 410px
          left: 340px

    &__reviews-block

      &_slider

        width: 500px

        & .swiper-button-prev

          top: 350px
          left: 170px
        & .swiper-button-next
          top: 350px
          right: 140px

        &-item

          width: 500px !important
  .cart
    &__title
      font-size: 42px
    &__delivery
      &-items
        width: 540px
    &__total
      &-wrapper
        width: 540px
        &-buttons
          width: 540px
          &_inp
            width: 100%
        &-info
          &_total
            font-size: 30px
          &_suptotal
            font-size: 18px

  .desc-section
    &__flex-block_txt
      font-size: 21px
    &__benefits-cards
      &-item
        &_top
          & img
            width: 40px
            height: 40px
            margin-right: 10px
          & span
            font-size: 23px
        &_bottom
          font-size: 15px
  .main-catalog
    &__buttons
      width: 93%
    &__preview
      &-lg
        height: 423px
        width: 240px
      &-sm
        &-item
          width: 120px
          height: 150px
          font-size: 18px
  .reviews
    &__main-block
      &-title
        font-size: 37px
      &__links
        width: unset
        &-link
          padding: 24px 23px
          font-size: 20px
        &-desc
          font-size: 18px
          padding: 22px 24px
  .delpay
    &__grid
      grid-template-columns: repeat(2, 240px)
      &-item
        width: 240px
        padding: 45px 29px
  .faq
    &__title
      font-size: 40px
      span
        font-size: 40px
    &__item
      &-first-block
        padding-right: 27px
        padding-left: 35px
      &-title
        font-size: 19px
      &:not(:last-child)
        margin-bottom: 30px
  .faq__item.active .faq__item-about
    transition: height 0.3s ease-in-out
    height: 175px
    padding-bottom: 15px
  .main-form
    &__grid
      display: block
      width: 346px
    &__form__label
      font-size: 12px
  .auth__links-auth
    width: 100%
  .person
    &__favorites-wrapper-items
      grid-template-columns: repeat(2, 240px)
      grid-row-gap: 65px
    &__info
      &-input
        width: 180px
        font-size: 30px
    &__info-item
      &:first-child
        font-size: 24px
      &:nth-child(2)
        font-size: 16px
      &:nth-child(3)
        font-size: 16px
      &:nth-child(4)
        font-size: 16px
    &__buttons
      // padding: 0 10px
      justify-content: space-evenly
      &-flex
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 115px
      &-item
        font-size: 20px
  .catalog
    &-section-search__search-block
      width: 476px
    &__items-block
      grid-template-columns: repeat(2, 247px)
@media (max-width: 575px)
  .container
    max-width: 400px
  .main-form
    &_payment
      margin-bottom: 50px
    &_submit
      width: 202px
      height: 45px
      font-size: 16px
    &__total
      &_delivery
        font-size: 12px
      &_item
        font-size: 12px
        p
          &:first-child
            width: 179px
      &_wrapper
        width: 370px
        padding: 27px
    &__title
      font-size: 40px
      margin-bottom: 73px
      span
        font-weight: 600
    &_buyer
      &_title
        font-size: 32px
      &_item
        &_buttons
          margin-top: 53px
        &_inputs
          display: flex
          flex-direction: column
          &_input
            &_title
              font-size: 16px

        &_wrapper
          width: 359px
          height: 503px
  .cart
    margin-bottom: 140px

    &__title
      font-size: 36px
    &__delivery
      &-items
        width: 361px
    &__total
      &-wrapper
        width: 361px
        &-title
          font-size: 32px

        &-buttons
          width: 361px
          &_inp
            height: 50px
          &_link
            font-size: 16px
            height: 50px
        &-info
          &_items
            &_item
              font-size: 12px
          &_total
            font-size: 20px
          &_suptotal
            font-size: 18px

  .desc-section__benefits-cards
    height: 650px
    flex-direction: column
    align-items: center
    &-item
      width: 66%
      &_top
        & img
          margin-right: 23px
          width: unset
          height: unset
        & span
          font-size: 36px
      &_bottom
        font-size: 20px
  .main-catalog
    &__container
      display: flex
      flex-direction: column
      align-items: center
    &__title
      font-size: 37px
    &__buttons
      width: 100%
      &-item
        padding: 8px
    &__preview
      &-lg
        width: 350px
        height: 564px
        margin-bottom: 50px
      &-sm
        &:not(:last-child)
          margin-bottom: 20px
        &-item
          width: 165px
  .reviews
    &__main-block
      align-items: center
      &-title
        font-size: 28px
      &__links
        width: unset
  .delpay
    &__container
      display: flex
      flex-direction: column
      align-items: center
    &__title
      font-size: 37px
    &__suptitle
      font-size: 19px
    &__grid
      grid-template-columns: repeat(1, 320px)
      &-item
        padding: 73px 45px
        width: 320px
  .faq
    &__container
      display: flex
      flex-direction: column
      align-items: center
    &__title
      font-size: 40px
      span
        font-size: 40px
    &__item
      &-title
        font-size: 16px
  .buttons__10-item
    font-size: 15px
  .auth__title
    font-size: 27px
  .swiper-button-next
    top: 30px
  .personal
    &__interesting
      margin-bottom: 100px
      &_title
        margin-bottom: 40px
      &_slider
        width: 367px
        margin-bottom: 150px
        position: unset !important

        &_wrapper
          position: relative
        &-item
          margin-bottom: 100px
          width: 178px !important
        & .swiper-button-prev

          top: 400px
          left: 110px
        & .swiper-button-next

          top: 400px
          left: 190px

    &__reviews-block
      &_title
        font-size: 26px
        margin-bottom: 35px

      &_slider

        width: 354px
        top: 0px
        & .swiper-button-prev

          top: 350px
          left: 130px
        & .swiper-button-next
          top: 350px
          right: 130px

        &-item
          margin: 0 auto
          width: 354px !important
          padding: 24px 7px 0px 7px
          span
            padding: 0px 7px 2px
          &_header
            &_img-block
              display: flex
              justify-content: flex-start
              width: 60px
              img
                width: 100%

    &__middle-block
      flex-wrap: wrap
      &_latest-orders
        width: 360px
      &_buttons
        grid-template-columns: 150px 205px
        grid-template-rows: 159px 159px
        gap: 15px 20px
        margin-bottom: 60px
        &_item
          font-size: 20px
          padding-left: 15px
          padding-bottom: 15px
    &__container
      padding: 0px 8px 0px 8px
      margin: 0
    &__user-block
      flex-wrap: wrap
      padding-left: 10px
      &_name
        font-size: 40px
        margin-bottom: 21px
      &_profile
        width: 233px
        height: 62px
        &_right-block
          &_button
            font-size: 12px
          &_name
            font-size: 16px
        &_img-block
          width: 42px
          height: 42px
          img

            width: 100%
            height: 100%

  .catalog
    &__title
      font-size: 25px
    &__block
      display: flex
      flex-direction: column
      align-items: center
    &-section-search__search-block
      width: 100%
    &__items-block
      grid-template-columns: repeat(1, 270px)
