.admin
    &-wrapper
        margin: 0 auto
        margin-top: 150px
        width: 1110px
        &-title
            text-align: center
            font-size: 20px
            margin-bottom: 30px
        &-paymentsbtn
            display: flex
            align-items: center
            justify-content: center
            margin: 0 auto
            width: 600px
            height: 100px
            border-radius: 10px
            margin-bottom: 30px
            background-color: rgb(236, 158, 139)
        &-promocodesbtn
            display: flex
            align-items: center
            justify-content: center
            margin: 0 auto
            width: 600px
            height: 100px
            border-radius: 10px
            margin-bottom: 30px
            background-color: rgb(139, 221, 236)
        &-createbtn
            display: flex
            align-items: center
            justify-content: center
            margin: 0 auto
            width: 600px
            height: 100px
            border-radius: 10px
            margin-bottom: 30px
            background-color: rgb(155, 236, 139)
        &-ordersbtn
            display: flex
            align-items: center
            justify-content: center
            margin: 0 auto
            width: 600px
            height: 100px
            border-radius: 10px
            margin-bottom: 30px
            background-color: rgb(141, 139, 236)