.admin
    &-wrapper
        margin: 150px 0
        width: 100%
        display: flex
        &__menu
            width: 410px
            display: flex
            flex-direction: column
            padding-left: 10px
            height: 100%
            background: #E8EBF5
            border-top-right-radius: 30px
            border-bottom-right-radius: 30px
            transition: all .3s linear
            &-multilevel
                &-item
                    display: flex
                    align-items: center
                    font-size: 20px
                    margin-left: 50px
                    background: transparent
                    padding: 15px
                    border-radius: 30px
                    transition: all .2s linear
                    & span
                        margin-left: 10px
                    &.active
                        background: #416EF2
                        color: white
                    
                    &:hover
                        background: #416EF2
                        color: white
                    
                    &:not(:last-child)
                        margin-bottom: 15px
                    
            &-buttons
                height: 100%
                display: flex
                flex-direction: column
                justify-content: center
            &.active
                width: 100px
                // align-items: center
                & > .admin-wrapper__menu-item
                    width: 60px

                    
            &-item
                display: flex
                width: fit-content
                align-items: center
                text-align: left
                background: transparent
                font-size: 24px
                padding: 15px
                border-radius: 30px
                transition: all .2s linear
                & span svg
                    transition: all .2s linear
                &.active
                    background: #416EF2
                    color: white
                    & span svg
                        transform: rotate(180deg)
                &:hover
                    background: #416EF2
                    color: white
                & svg
                    font-size: 30px
                & span
                    display: flex
                    align-items: center
                    margin-left: 10px
                &:not(:last-child)
                    margin-bottom: 20px
                &.title
                    font-size: 40px
                    text-align: center
                    &:hover
                        background: transparent
                        color: black
                    & button
                        background: none
                    & span
                        margin-right: 30px
        &__content
            margin-left: 70px
            &.grid
                display: grid
                grid-template-columns: repeat(3, 1fr)
                height: auto
                // justify-content: space-between
                gap: 30px