.auth
    margin-top: calc( 120px + 100px )
    margin-bottom: 107px
    &__container
        display: flex
        flex-direction: column
        align-items: center
    &__title
        font-size: 33px
        margin-bottom: 30px
        &-reg
            text-align: center
        & img
            margin-right: 18px
    &__links
        width: 100%
        display: flex
        justify-content: space-evenly
        font-size: 17px
        &-auth
            width: 50%
    &__reg
        color: #007DFD