.auth
    margin-top: calc( 120px + 10px )
    margin-bottom: 107px
    &__button
        background: #0540F2
        border-radius: 30px
        width: 146px
        height: 47px
        color: #fff
        border: 2px solid #0540F2
        transition: all .2s linear
        &:hover
            background: transparent
            color: #0540F2
    &__bottom
        display: flex
        justify-content: space-between
        align-items: center
    &__form
        &-input
            width: 363px
            height: 48px
            padding-left: 25px
            background: var(--togray)
            border-radius: 30px
            font-size: 16px
            margin-bottom: 18px
            border: 2px solid transparent
            transition: all .2s linear
            &.active
                background: var(--error)
            &:focus
                border: 2px solid #0540F2
            &:nth-child(1)
                margin-top: 25px
            &:nth-child(2)
                display: flex
                align-items: center
                justify-content: space-between
                padding-right: 25px
                margin-bottom: 40px
                & input
                    width: 91%
                &:focus
                    border: 2px solid #0540F2

    &_wrapper
        width: 541px
        height: 613px
        border: 2px solid #0540F2
        border-radius: 30px
        padding: 40px
    &__container
        display: flex
        flex-direction: column
        align-items: center
        position: relative
        overflow: hidden
        max-width: 1300px
    &__title
        font-weight: 700
        color: var(--towhite)
        font-size: 48px
        margin-bottom: 30px

        width: 100%
        &_forgot
            font-weight: 700
            color: var(--towhite)
            font-size: 48px
            margin-bottom: 30px
            text-align: center
            width: 100%
        &-reg
            text-align: center
        & img
            margin-right: 18px
    &__links
        width: 100%
        display: flex
        gap: 10px
        font-size: 17px
        margin-bottom: 176px
        &-auth
            width: 50%
    &__reg
        color: rgba(65, 110, 242, 1)
    &__forgot
        color: #7f8083

@media (max-width: 575px)
    .auth
        &_wrapper
            width: 100%
            padding: 40px 20px 20px
        &__form-input
            width: 100%
        &__links
            flex-direction: column
            align-items: center
            margin-bottom: 140px
        &__button
            width: 130px
            height: 40px
            font-size: 13px
