.buttons__10
    display: flex
    justify-content: space-between
    &-item
        display: flex
        justify-content: center
        align-items: center
        border-radius: 10px
        background-color: white
        color: black
        font-size: 18px
        transition: all .2s linear
        &:not([disabled]):hover
            background: #1388FF
            color: white
        &[disabled]
            cursor: default
        &_personal

            display: flex
            align-items: flex-end
            justify-content: flex-start
            border-radius: 10px
            background-color: white
            color: black
            font-size: 18px
            transition: all .2s linear
            span
                padding-bottom: 10px
                padding-left: 5px

.buttons__16
    color: white
    background-color: #007DFD
    font-size: 25px
    padding: 38px 167px
    border-radius: 16px
.buttons__19
    width: 346px
    height: 63px
    padding: 0
    color: white
    background: #0540F2
    border-radius: 30px
    font-size: 22px
    margin-bottom: 27px
