.cart
    margin-top: calc(120px + 82px)
    margin-bottom: 89px
    &__title
        font-size: 29px
        margin-bottom: 62px
        & span
            color: #007DFD
    &__wrapper
        margin-bottom: 62px
        border-radius: 15px
    &__total-wrapper
        border-radius: 29px
        padding: 56px 62px
        background-color: #020202
        display: flex
        justify-content: space-between
        margin-bottom: 63px
        &-info
            font-size: 20px
            display: flex
            flex-direction: column
            justify-content: space-between
            width: 100%
            &_suptotal
                width: 100%
                display: flex
                justify-content: space-between
                margin-bottom: 10px
            &_suptotal:nth-child(2)
                margin-bottom: 46px
            &_suptotal span
                color: #007DFD
            &_total
                display: flex
                justify-content: space-between
                font-size: 33px
        &-price
            font-size: 33px
            display: flex
            flex-direction: column
            justify-content: flex-end
        &-buttons
            display: flex
            justify-content: space-between
            &_link
                background-color: #007DFD
                font-size: 20px
                padding: 25px 127px
            &_inp
                height: 75px
                width: 407px
                color: white
                border: solid 2px white
                border-radius: 15px
                font-size: 20px
                padding: 0 30px
                &::placeholder
                    text-align: center
                    color: white
                    font-size: 20px

    &__buttons
        display: flex
        justify-content: space-between
        width: 100%
        &-confirm
            &-item
                width: 100%
            &-input
                width: 100%
                color: black
                border: 2px solid #492FEB
                background-color: unset
                border-radius: 29px
                font-size: 29px
                padding: 40px 70px
            &_input
                width: 57.6%
            &_button
                width: 37%