.favorites
	margin-top: 202px
	margin-bottom: 89px
	&_container
	&_title
		font-weight: 600
		font-size: 64px
		color: var(--color)
		margin-bottom: 90px
	&_items
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		width: 700px
		padding: 0 50px
		height: fit-content
		border: 1px solid #0540F2
		border-radius: 30px

@media (max-width: 575px)
	.favorites
		&_wrapper
			max-width: 100% !important
