.favorites
	&_wrapper
		margin-top: 150px

	&_container
	&_title
		font-weight: 600
		font-size: 64px
		color: var(--color)
		margin-bottom: 100px
	&_items
		display: flex
		flex-direction: column
		gap: 40px
		width: 720px
		margin-bottom: 100px
