.fullitem
    margin-top: 100px
    &__comments
        margin-bottom: 201px
        &_items
            display: flex
            flex-direction: column
            gap: 35px
        &_title
            font-weight: 600
            font-size: 40px
            margin-bottom: 58px
            color: var(--color)
    &__description
        display: flex
        align-items: flex-start
        gap: 32px
        margin-bottom: 100px

        &_right
            &_har
                width: 450px
                border: 1px solid #0540f2
                padding: 21px 29px
                border-radius: 30px
                display: flex
                flex-direction: column
                gap: 13px
                &_item
                    display: flex
                    justify-content: space-between
                    align-items: center

                    &:not(:last-child)
                        padding-bottom: 17px
                        border-bottom: 2px solid var(--togray)

                    &_left
                        padding: 10px 20px
                        background: var(--togray)
                        border-radius: 30px
                        color: #0540F2
                        font-weight: 500
                        font-size: 16px
                    &_right
                        font-weight: 500
                        font-size: 16px
                        color: var(--color)
            p
                font-weight: 600
                font-size: 40px

                margin-bottom: 35px
                color: var(--color)
        &_left
            width: 642px
            gap: 30px
            p
                font-weight: 600
                font-size: 40px
                margin-bottom: 30px
                color: var(--color)
            &_description
                font-size: 16px
                padding: 24px 28px
                border: 1px solid #0540F2
                border-radius: 30px
                margin-bottom: 70px
            &_spec
                font-size: 16px
                padding: 26px 23px
                border: 1px solid #0540F2
                border-radius: 30px
                margin-bottom: 10px
                &_title
                    color: var(--color)
                    font-size: 24px
                    font-family: Inter
                    font-weight: 600
                    margin-bottom: 14px
                &_text
                    color: var(--color)
                    font-size: 16px
                    line-height: 20px

    &__card
        display: flex
        justify-content: space-between
        &-wrapper
            // height: calc(100vh - 180px)
            background: var(--togray)
            padding: 45px 0 128px 0
            margin-bottom: 88px
        &-breadcrumb
            display: block
            height: 17px
            width: 439px
            margin-bottom: 20px
        &-sliders
            position: relative
            height: fit-content
            width: 550px
            &_big
                &-close
                    background: none
                    font-size: 50px
                    position: absolute
                    top: 50px
                    right: 50px    
                &-wrapper
                    top: 0
                    position: absolute
                    z-index: 100
                    width: 100%
                    height: 100vh
                    background: #00000049
                &-image
                    object-fit: cover
                    object-position: center
                    width: 60%
                    &_wrapper
                        width: 100%
                        height: 100%
                        display: flex
                        align-items: center
                        justify-content: center

        &-slider
            position: relative
            &_big
                &-favorite
                    position: absolute
                    top: 25px
                    right: 80px
                    opacity: 0
                    background: transparent
                    z-index: 50
                    transition: .3s all linear

                &-wrapper
                    background: white
                    border-radius: 30px
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 100%
                    overflow: hidden
                    height: 339px
                    position: relative
                    margin-bottom: 53px
                    &:hover .fullitem__card-slider_big-favorite
                        opacity: 1

                &-item
                    width: 80%
                    height: 100%
                    border-radius: 30px
                    overflow: hidden
                    object-fit: cover
                    object-position: center
                    cursor: pointer
            &_small
                &-wrapper
                    margin-left: 0
                    width: 43%
                    position: unset !important
                    overflow: unset
                    &_overflow
                        margin: 0 auto
                        width: 72%
                        overflow: hidden
                    &_button
                        &-prev
                            top: 90%
                            // left: unset
                            // right: calc(15% + 24vw)
                            left: 0
                            position: absolute
                            width: 33px
                            height: 33px
                            background: #0540F2
                            border: 2px solid #0540F2
                            border-radius: 50%
                            &:after
                                display: block
                                content: ''
                                width: 10px
                                height: 10px
                                border-right: 2px solid white
                                border-bottom: 2px solid white
                                transform: rotate(135deg) translate(-7px, -6px)
                            &::before
                                display: block
                                content: ''
                                width: 15px
                                height: 2px
                                background: white
                                transform: translate(9px, 5.5px)
                        &-next
                            position: absolute
                            top: 90%
                            // right: unset
                            // left: calc(15% + 24vw)
                            right: 0
                            width: 33px
                            height: 33px
                            background: #0540F2
                            border: 2px solid #0540F2
                            border-radius: 50%
                            &:after
                                display: block
                                content: ''
                                width: 10px
                                height: 10px
                                border-right: 2px solid white
                                border-bottom: 2px solid white
                                transform: rotate(-45deg) translate(8px, 6px)
                            &::before
                                display: block
                                content: ''
                                width: 15px
                                height: 2px
                                background: white
                                transform: translate(6px, 4.5px)
                &-item
                    display: flex !important
                    width: 122px !important
                    height: 80px !important
                    transition: all .3s linear
                    align-items: center
                    justify-content: center
                    border-radius: 25px
                    overflow: hidden
                    &.swiper-slide-active
                        border: 1px solid #0540F2
                    & img
                        width: 100%
                        height: 100%
                        object-fit: cover
                        object-position: center
                        border-radius: 20px
        &_info
            &-wrapper
                width: 535px
            &-name
                line-height: 77.45px
                font-size: 64px
                font-weight: 700
                color: var(--color)
                margin-bottom: 39px
            &-params
                display: grid
                grid-template-columns: repeat(2, 1fr)
                &_block
                    width: fit-content
                    margin-bottom: 20px
                    & p
                        font-size: 20px
                        margin-bottom: 12px
                        color: var(--color)
                    &-wrapper
                        position: relative
                        display: grid
                        &.switches
                            grid-template-columns: repeat(2, auto)
                            gap: 5px
                        &.colors
                            grid-template-columns: repeat(4, auto)
                            gap: 20px
                        &.layouts
                            grid-template-columns: repeat(2, auto)
                            gap: 10px
                        &.plates
                            grid-template-columns: repeat(2, auto)
                            gap: 5px

                    &_button
                        display: flex
                        align-items: center
                        padding: 4px 10px
                        background: transparent
                        border-radius: 10px
                        color: black
                        font-size: 14px
                        font-weight: 500
                        border: 2px solid #416EF233
                        transition: all .2s linear
                        & span
                            display: inline-block
                            content: ''
                            border-radius: 50%
                            width: 15px
                            height: 15px
                            margin-right: 5px
                        &_layout
                            font-size: 16px
                            background: none
                            width: fit-content
                            color: rgba(#0540F2, .4)
                            &.active
                                color: #0540F2
                            &:not(:last-child)
                                margin-right: 26px
                        &.active
                            border: 2px solid #0540F2
                        &.noItem
                            background: #416EF233
                            &:before
                                position: absolute
                                display: block
                                content: ''
                                width: 43px
                                height: 3px
                                background: #E8EBF5
                                transform: rotate(-45deg) translate(-20px, -5px)
                    &_color
                        content: ''
                        display: block
                        width: 30px
                        height: 30px
                        border-radius: 50%
                        border: 4px solid transparent
                        transition: all .2s linear
                        margin: 0 auto
                        &.голубой
                            background: #00aeff
                        &.синий
                            background: blue
                        &.зелёный
                            background: #91ce03
                        &.розовый
                            background: #FFC0CB
                        &.черный
                            background: #000
                        &.белый
                            background: white
                        &.красный
                            background: red
                        &.active
                            border-color: white
                            &.белый
                                border-color: black
            &-bottom
                display: flex
                justify-content: space-between
                align-items: center
                &_buttons
                    display: flex
                    align-items: center
                    gap: 15px
                    &_button
                        display: flex
                        align-items: center
                        justify-content: center
                        gap: 13px
                        height: 54px
                        font-size: 16px
                        border: 2px solid #0540F2
                        color: #0540F2
                        font-weight: 500
                        font-size: 16px
                        width: 106px
                        border-radius: 30px

                        &_minus
                            display: flex
                            justify-content: center
                            align-items: center
                            width: 12px
                            height: 2px
                            background: #0540F2
                            &_wrapper
                                display: flex
                                align-items: center
                                justify-content: center
                                background: none
                                width: 13px
                                height: 20px
                                border-radius: 50%
                        &_pluses
                            display: flex
                            align-items: center
                            justify-content: center
                            background: none
                            width: 13px
                            height: 13px
                            border-radius: 50%
                            &_block
                            &_itemv
                                height: 12px
                                width: 2px
                                background-color: #0540F2
                                transform: translateX(5px)
                            &_itemh
                                width: 12px
                                height: 2px
                                background-color: #0540F2
                                transform: translateY(-7px)
                    &_plus
                        width: 9px
                        height: 2px
                        background-color: #007DFD
                        transform: translateY(-5.5px)

                    &_cart
                        width: fit-content
                        padding: 15px 20px
                        background: #0540F2
                        color: #fff
                        border-radius: 30px
                        font-size: 18px
                        border: 2px solid transparent
                        transition: all .3s linear
                        &:hover
                            border-color: #0540F2
                            background: transparent
                            color: #0540F2
                & span
                    font-size: 24px
                    color: #0540F2
                    font-weight: 500
                &_btn
                    background: none
                    padding: 14px 32px
                    font-size: 20px
                    border-radius: 30px
                    border: 1px solid #0540F2
                    color: #0540F2
@media ( max-width: 1199px )
    .fullitem
        &__comments
            &_items
            &_title
        &__description
            &_right
                &_har
                    &_item
                        &:not(:last-child)
                        &_left
                        &_right
                p
            &_left

                p
                &_description

                &_spec
                    &_title
                    &_text

        &__card
            &-wrapper
                padding-bottom: 89px
            &-breadcrumb
            &-sliders
                width: 50%
                margin-bottom: 25px
            &-slider
                &_big
                    &-wrapper
                    &-item
                        & img
                &_small
                    &-wrapper
                        width: 36%
                        margin-left: 2px
                        // margin: 0 auto
                        &_overflow
                            width: 68%
                        &_button
                            &-prev

                                // left: unset
                                // right: calc(17% + 24vw)
                            &-next

                                // right: unset
                                // left: calc(12% + 24vw)
                    &-item
                        width: 90px !important
                        &.swiper-slide-active
                        & img
            &_info
                &-wrapper
                    width: 47%
                &-name
                    font-size: 42px
                &-params
                    &_block

                        & p
                        &-wrapper
                        &_button
                            &.noItem
                            & span
                            &:not(:last-child)
                        &_text
                &-bottom
                    &_buttons
                        &_button
                            &_minus
                                &_wrapper
                            &_pluses
                                &_block
                                &_itemv
                                &_itemh
                        &_plus
                        &_cart
                    & span
                    &_btn
@media ( max-width: 991px )
    .fullitem
        &__comments
            &_items
            &_title
        &__description
            &_right
                &_har
                    &_item
                        &:not(:last-child)
                        &_left
                        &_right
                p
            &_left
                &-block
                    margin-bottom: 30px
                p
                &_description

                &_spec
                    &_title
                    &_text

        &__card
            flex-direction: column
            align-items: center
            &-wrapper
            &-breadcrumb
            &-sliders
                width: 100%
                margin-bottom: 40px
            &-slider
                &_big
                    &-wrapper
                        margin: 0 auto
                        margin-bottom: 53px
                        width: 100%
                    &-item
                        & img
                &_small
                    &-wrapper
                        width: 30%
                        &_overflow
                            width: 60%
                        &_button
                            &-prev
                                top: 91%
                                left: 100px
                            &-next
                                top: 91%
                                right: 130px
                    &-item
                        &.swiper-slide-active
                        & img
            &_info
                &-wrapper
                    width: 100%
                &-name
                    text-align: center
                    font-size: 6vw
                    margin-bottom: 30px
                &-params
                    &_block
                        & p
                        &-wrapper
                        &_button
                            &.noItem
                            & span
                            &:not(:last-child)
                        &_text
                &-bottom
                    &_buttons
                        &_button
                            &_minus
                                &_wrapper
                            &_pluses
                                &_block
                                &_itemv
                                &_itemh
                        &_plus
                        &_cart
                    & span
                    &_btn

@media ( max-width: 767px )
    .fullitem
        overflow: hidden
        &__comments
            &_items
            &_title
        &__description
            &_right
                &_har
                    width: 100%
                    &_item
                        &:not(:last-child)
                        &_left
                        &_right
                p
                    font-size: 33px
            &_left
                width: 100%
                p
                &_description
                    width: 100%
                &_spec
                    &_title
                    &_text

        &__card
            &-wrapper
            &-breadcrumb
            &-sliders
            &-slider
                &_big
                    &-wrapper
                    &-item
                        & img
                &_small
                    &-wrapper
                        &_overflow
                            width: 65%
                        &_button
                            &-prev
                                top: 90%
                                left: 30px
                            &-next
                                top: 90%
                                right: 50px
                    &-item
                        &.swiper-slide-active
                        & img
            &_info
                &-wrapper
                &-name
                &-params
                    &_block
                        & p
                        &-wrapper
                        &_button
                            &.noItem
                            & span
                            &:not(:last-child)
                        &_text
                &-bottom
                    &_buttons
                        &_button
                            &_minus
                                &_wrapper
                            &_pluses
                                &_block
                                &_itemv
                                &_itemh
                        &_plus
                        &_cart
                    & span
                    &_btn

@media ( max-width: 575px )
    .fullitem
        &__comments
            &_items
            &_title
        &__description
            &_right
                &_har
                    &_item
                        &:not(:last-child)
                        &_left
                        &_right
                p
            &_left
                p
                &_description
                &_spec
                    &_title
                    &_text

        &__card
            &-wrapper
            &-breadcrumb
            &-sliders
            &-slider
                &_big
                    &-wrapper
                    &-item
                        margin-bottom: 20px
                        & img
                &_small
                    &-wrapper
                        width: 200px
                        &_overflow
                            width: 67%
                        &_button
                            &-prev
                                display: none
                            &-next
                                display: none

                    &-item
                        &.swiper-slide-active
                        & img
            &_info
                &-wrapper
                &-name
                &-params
                    &_block
                        & p
                        &-wrapper
                        &_button
                            &.noItem
                            & span
                            &:not(:last-child)
                        &_text
                &-bottom
                    flex-direction: column
                    & span
                        margin-bottom: 20px
                    &_buttons
                        &_button
                            &_minus
                                &_wrapper
                            &_pluses
                                &_block
                                &_itemv
                                &_itemh
                        &_plus
                        &_cart
                            font-size: 16px
                    & span
                    &_btn
