.orders
    margin-top: 194px
    margin-bottom: 123px
    &__title
        font-size: 64px
        font-weight: 600
        margin-bottom: 106px
        & span
            font-weight: inherit
            color: #416EF2
    &__item
        width: 736px
        &_card
            display: flex
            justify-content: space-between
            align-items: center
            height: 208px
            background: var(--togray)
            margin-bottom: 16px
            border-radius: 30px
            padding: 0 25px
        &_img-block
            width: 152px
            height: 114px
            margin-right: 40px
            & img
                width: 100%
                height: 100%
                object-fit: cover
        &_left-block
            &_name
                font-size: 24px
                font-weight: 600
                color: var(--color)
                margin-bottom: 10px
            &_color
                font-weight: 500
                font-size: 16px
                color: var(--color)
                margin-bottom: 23px
            &_date
                font-weight: 500
                font-size: 16px
                color: var(--color)
            &_wrapper
                display: flex
        &_right-block
            display: flex
            flex-direction: column
            align-items: end
            &_status
                display: flex
                justify-content: center
                align-items: center
                background: #416EF2
                border-radius: 30px
                width: 91px
                height: 30px
                margin-bottom: 16px
                & span
                    font-size: 14px
                    font-weight: 500
                    color: white
            &_price
                font-size: 20px
                color: #416EF2
                font-weight: 600
                margin-bottom: 14px
            &_count
                font-weight: 500
                font-size: 16px
                margin-bottom: 16px
            &_buttons
                display: flex
                &_review
                    width: 158px
                    height: 44px
                    border-radius: 30px
                    border: 1px solid #416EF2
                    background: none
                    display: flex
                    justify-content: center
                    align-items: center
                    margin-right: 23px
                    & span
                        color: #416EF2
                        font-size: 16px
                        font-weight: 500
                &_add
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 44px
                    height: 44px
                    background: #F6F6F6
                    border-radius: 50%
                    &_plusv
                        content: ''
                        height: 18px
                        width: 2px
                        background: #416EF2
                        transform: translateX(-8px)
                    &_plush
                        content: ''
                        height: 2px
                        width: 18px
                        background: #416EF2
                        transform: translateX(2px)
        &_about

            border-radius: 30px
            background: var(--togray)
            display: flex
            justify-content: space-between
            overflow: hidden
            margin-bottom: 33px
            padding: 0px 89px 0px 50px
            height: 0px

            transition: all 0.4s ease-in-out
            &.active
                display: flex
                justify-content: space-between
                margin-bottom: 33px
                height: 500px
                padding: 28px 89px 34px 50px
                transition: all 0.4s ease-in-out
            &-block
                margin-bottom: 44px

                &_wrapper
                    &:nth-child(2)
                        width: 292px
                        & .orders__item_about-block
                            margin-bottom: 62px
                &_title
                    font-size: 24px
                    font-weight: 600
                    color: #416EF2
                    margin-bottom: 18px
                &_suptitle
                    width: 215px
                    font-size: 16px
                    color: var(--color)
                    font-weight: 500
                &_timline
                    display: flex

                    &_line
                        width: 16px
                        display: flex
                        flex-direction: column
                        align-items: center
                        margin-right: 15px
                        margin-bottom: 0
                        & li
                            content: ''
                            width: 16px
                            height: 16px
                            background: #416EF2
                            border-radius: 50%
                            &:nth-child(2)
                                height: 30px
                            &:nth-child(4)
                                height: 30px
                            &:nth-child(6)
                                height: 56px
                            &:nth-child(8)
                                height: 30px
                            &:not(:last-child)
                                margin-bottom: 5px
                            &:nth-child(even)
                                display: block
                                content: ''
                                width: 2px
                                background: #416EF2
                    &_text
                        display: flex
                        flex-direction: column
                        gap: 15px
                        height: 245px
                        &-block
                            &:nth-child(1)
                                margin-bottom: 13px
                            &:nth-child(2)
                                margin-bottom: 11px
                            &:nth-child(3)
                            &:nth-child(4)
                                margin-bottom: 10px
                            &:nth-child(5)
                            &_up-block
                                display: flex
                                gap: 15px
                                &_title
                                    font-size: 16px
                                    font-weight: 600
                                    color: var(--color)
                                    line-height: 13px
                                &_date
                                    font-size: 10px
                                    font-weight: 500
                                    color: var(--towhite)
                            &_description
                                font-size: 14px
                                font-weight: 500
                                color: var(--color)
