.container
  width: 100%
  max-width: 1120px
  height: 100px
  margin: 0 auto
  padding: 0 15px

.modal
  z-index: 50
  position: relative
  overflow: hidden
  &_right

    border-radius: 30px
    width: 256px
    position: relative
    span

      position: absolute
      bottom: 20px
      color: #fff
      font-weight: 600
      font-size: 20px
      padding-left: 20px
    img
      background: #DCDCDC
      width: 326px
      height: 315px
      border-radius: 30px
  &_center
    width: 420px
    &_items
      margin: 23px 0px
      display: flex
      justify-content: space-between
      ul

        display: flex
        flex-direction: column
        gap: 10px
        li
          color: var(--color)
          &:hover
            cursor: pointer
            color: #AEC5F2
    &_title
      padding: 15px 30px
      background: var(--togray)
      border-radius: 30px
      display: flex
      justify-content: space-between
      p
        font-weight: 600
        font-size: 18px
        color: var(--towhite)
        &:last-child
          margin-right: 50px
  &_items
    display: flex
    gap: 40px
    align-items: flex-start
  &_leftcol ul
    display: flex
    flex-direction: column
    gap: 10px
    li
      display: flex
      align-items: center
      font-weight: 500
      border-radius: 30px
      padding: 10px
      color: var(--color)
      &:hover
        cursor: pointer

        background: var(--tolightgray)
      img
        padding-right: 8px
        height: 22px

        color: var(--color)
  &_bg
    position: fixed
    inset: 0
    background-color: rgba(0, 0, 0, 0.3)

  &_container
    position: fixed
    margin-top: 208px
    margin-left: 499px
    overflow: hidden
    inset: 0

    height: 445px
    width: 1000px

    padding: 30px 15px

    background: var(--background-color)
    border-radius: 30px
    color: #000

    overscroll-behavior: contain
    &_close
      color: #000
      position: absolute
      top: 20px
      right: 30px
      background: #f8f8f8
.search_section
  display: flex
  align-items: center
  margin-top: 80px
  height: 100px
  background: var(--background-color)
  transition: background-color 0.3s ease-in-out
  //transition: transform 0.3s linear
  position: fixed
  top: 0
  width: 100%
  z-index: 50
  &__container
    display: flex
    justify-content: space-between
    align-items: center

    height: 54px
  &__logo
    &-img
      width: 64px
      height: 42px

  &__catalog
    box-sizing: border-box
    width: 133px
    height: 42px
    display: flex
    justify-content: center
    border: 1px solid #0540F2
    border-radius: 30px
    align-items: center
    font-size: 16px
    color: var(--color)
    transition: all 0.2s ease-in-out

    &:hover
      color: #AEC5F2
    &_block
      margin-left: 19px
      display: flex
      align-items: center
      justify-content: center
      width: 31px
      height: 31px
      background: var(--togray)
      border-radius: 30px
      padding-bottom: 5px
    &_arrow
      margin-bottom: 4px
      margin-left: 10px
      width: 11px
      height: 11px
      border-right: 1px solid
      border-bottom: 1px solid
      transform: rotate(45deg)
      transition: all .2s linear
      &_profile

        width: 11px
        height: 11px
        border-right: 1px solid
        border-bottom: 1px solid
        transform: rotate(45deg)
        transition: all .2s linear
  &__search_block
    position: relative
    height: 100%
    width: 450px
    display: flex
    align-items: center
    justify-content: space-between

    border: 1px solid #0540F2
    border-radius: 50px

    font-size: 23px
  &_links
    position: relative
    width: 90px
    display: flex
    justify-content: space-between
    align-items: center
    &:hover

      cursor: pointer
    &_cart

      &_count
        font-size: 12px
        color: #fff
        display: flex
        align-items: center
        justify-content: center
        height: 13px
        width: 27px
        position: absolute
        top: -6px
        right: -23px
        background: #0540F2
        border-radius: 10px
    &_heart
      padding-top: 3px
      &_count
        color: #fff
        font-size: 12px
        display: flex
        align-items: center
        justify-content: center
        height: 13px
        width: 27px
        position: absolute
        top: -6px
        right: 38px
        background: #0540F2
        border-radius: 10px

  &__search_block_glass
    margin-right: 10px
    display: flex
    justify-content: center
    align-items: center
    width: 40px
    height: 40px
    font-size: 20px
    background: var(--togray)
    padding: 10px
    border-radius: 50%

  &__search_item
    width: 100%
    margin: 0 20px 0 10px
    height: 60px
    font-size: 16px
    margin-left: 22px

    color: var(--color)
  input
    background: none
    &::placeholder
      color: var(--color)

  &__registr_block
    width: 14.68%
    display: flex
    justify-content: center
    align-items: center
    background-color: #007dfd
    font-size: 18px
    color: white
    border-radius: 9px
    transition: all 0.2s linear

  &__profile_block
    padding: 0 90px 0 0
    max-width: 200px
    display: flex
    align-items: center

    font-size: 18px
    color: var(--color)
    border-radius: 9px

    p
      transition: all 0.2s linear
      &:hover
        color: #AEC5F2

  &__logout_block
    width: 28px
    display: flex
    justify-content: center
    align-items: center

  &__login_block
    width: 104px
    height: 48px
    display: flex
    justify-content: center
    align-items: center
    background: #0540F2
    border-radius: 30px
    font-size: 18px
    color: white

    transition: all 0.2s linear
.menu

  display: inline-block
  text-align: left
  z-index: 50
  &_wrapper
    position: relative
    display: block
  &_button
    background: none
    display: block
  &_items
    position: absolute
    z-index: 40
    right: 0px
    margin-top: 8px
    width: 210px
    border-radius: 30px
    background: var(--togray)
    display: flex
    justify-content: flex-start

    &_wrapper

      padding: 25px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: flex-start

    &_item

      padding: 8px 0 8px 11px
      text-align: left
      font-size: 16px
      font-weight: 500
      width: 170px
      background: none
      border-radius: 30px
      color: var(--color)
      &_quit
        color: #0540F2
        padding: 8px 0 0 11px
        text-align: left
        font-size: 16px
        font-weight: 500
        width: 170px
        background: none
        border-radius: 30px

      &:hover

        color: #fff
        background: #416EF2
.searchmodal
  &_container
    position: fixed
    margin-top: 178px
    margin-left: 699px
    overflow: hidden
    inset: 0

    height: fit-content
    width: 470px

    padding: 30px 15px

    background: var(--background-color)
    border-radius: 30px
    color: #000

    overscroll-behavior: contain
  &_top
    display: flex
    justify-content: space-between
    padding-bottom: 20px
    border-bottom: 2px solid var(--togray)

@media (max-width: 1199px)
  .container
    max-width: 960px
  .search_section__profile_block
    max-width: 160px

@media (max-width: 991px)
  .container
    max-width: 720px
  .search_section
    &__catalog
      font-size: 18px
      width: 24%
    &__search_block
      width: 46%
    &__login_block
      width: 15%
@media (max-width: 767px)
  .container
    max-width: 540px
    // align-items: center
  .search_section
    max-width: 540px
    &__catalog
      width: 25%
    &__search_block
      width: 100%
    &__profile_block
      height: 50px
      padding: 0 15px
      & img
        margin: unset
    &__logout_block
      & img
        width: 35px
        height: 35px
@media (max-width: 575px)
  .search_section
    max-width: 390px
    &__logo
      img
        width: 33px
        height: 22px
    &__catalog
      padding: 0px 9px 0px 5px
      height: 32px
      width: 77px
      font-size: 12px
      &_arrow
        margin-left: 6px
        width: 7px
        height: 7px
  .container
    max-width: 300px
  // .search_section
  //   &__search_block
  //     width: 100%
