.container
  width: 100%
  max-width: 1120px
  height: 100px
  margin: 0 auto
  padding: 0 15px

.modal
  z-index: 50
  position: relative

  &_bg
    position: fixed
    inset: 0
    background-color: rgba(0, 0, 0, 0.3)

  &_container
    position: fixed
    margin-top: 208px
    margin-left: 659px
    inset: 0
    overflow-y: auto
    height: 500px
    width: 600px
    box-shadow: 0px 0px 5px 1px #9b9b9b
    padding: 30px 15px
    display: flex
    justify-content: center

    border-radius: 10px
    color: #000
    background: #f8f8f8
    overscroll-behavior: contain
    &_close
      color: #000
      position: absolute
      top: 20px
      right: 30px
      background: #f8f8f8
.search_section
  display: flex
  align-items: center
  margin-top: 80px
  height: 100px
  background: white

  &__container
    display: flex
    justify-content: space-between
    align-items: center

    height: 54px
  &__logo
    &-img
      width: 64px
      height: 42px

  &__catalog
    box-sizing: border-box
    width: 133px
    height: 42px
    display: flex
    justify-content: center
    border: 1px solid #0540F2
    border-radius: 30px
    align-items: center
    font-size: 16px
    color: black
    transition: all 0.2s ease-in-out
    &_arrow
      padding-top: 4px
      margin-left: 8px
  &__search_block
    position: relative
    height: 60px
    width: 450px
    display: flex
    align-items: center
    justify-content: space-between

    border: 1px solid #0540F2
    border-radius: 50px

    font-size: 23px
  &_links
    position: relative
    width: 80px
    display: flex
    justify-content: space-between
    align-items: center
    &:hover
      cursor: pointer
    &_cart

      &_count
        font-size: 12px

        display: flex
        align-items: center
        justify-content: center
        height: 13px
        width: 27px
        position: absolute
        top: -6px
        right: -23px
        background: #0540F2
        border-radius: 10px
    &_heart
      padding-top: 3px
  &__search_block_glass
    margin-right: 10px
    display: flex
    justify-content: center
    align-items: center
    width: 40px
    height: 40px
    font-size: 20px
    background: #E8EBF5
    padding: 10px
    border-radius: 50%

  &__search_item
    width: 100%
    margin: 0 20px 0 10px
    height: 60px
    font-size: 16px
    margin-left: 22px

    color: #007dfd
  input
    background: none
    &::placeholder
      color: rgba(0, 0, 0, 0.2)

  &__registr_block
    width: 14.68%
    display: flex
    justify-content: center
    align-items: center
    background-color: #007dfd
    font-size: 18px
    color: white
    border-radius: 9px
    transition: all 0.2s linear

  &__profile_block
    padding: 0 20px
    max-width: 200px
    display: flex
    align-items: center
    background-color: #007dfd
    font-size: 18px
    color: white
    border-radius: 9px
    & img
      margin-right: 15px
  &__logout_block
    width: 28px
    display: flex
    justify-content: center
    align-items: center

  &__login_block
    width: 104px
    height: 48px
    display: flex
    justify-content: center
    align-items: center
    background: #0540F2
    border-radius: 30px
    font-size: 18px
    color: white

    transition: all 0.2s linear

@media (max-width: 1199px)
  .container
    max-width: 960px
  .search_section__profile_block
    max-width: 160px

@media (max-width: 991px)
  .container
    max-width: 720px
  .search_section
    &__catalog
      font-size: 18px
      width: 24%
    &__search_block
      width: 46%
    &__login_block
      width: 15%
@media (max-width: 767px)
  .container
    max-width: 540px
    // align-items: center
  .search_section
    &__catalog
      width: 25%
    &__search_block
      width: 100%
    &__profile_block
      height: 50px
      padding: 0 15px
      & img
        margin: unset
    &__logout_block
      & img
        width: 35px
        height: 35px
@media (max-width: 575px)
  .container
    max-width: 100%
  // .search_section
  //   &__search_block
  //     width: 100%
