.container {
  width: 100%;
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.search_section {
  display: flex;
  align-items: center;

  height: 120px;
  background: white;
}
.search_section__container {
  display: flex;
  justify-content: space-between;
  height: 54px;
}
.search_section__catalog {
  width: 16%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  background-color: #efefef;
  color: black;
  border-radius: 9px;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
  img {
    width: 25px;
    height: 25px;
  }
}
.search_section__search_block {
  width: 52.295%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #efefef;
  border-radius: 10px;
  font-size: 23px;
}
.search_section__search_block_glass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 100%;
  font-size: 24px;
  background-color: #f5f5f5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.search_section__search_item {
  width: 100%;
  margin: 0 24.65px;
  height: 60px;
  font-size: 23px;

  color: #007dfd;
  input {
    background: none;
  }
}
.search_section__registr_block {
  width: 14.68%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007dfd;
  font-size: 18px;
  color: white;
  border-radius: 9px;
  transition: all 0.2s linear;
  &:hover {
    background: white;
    color: black;
  }
}
.search_section__login_block {
  width: 9.175%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007dfd;
  font-size: 18px;
  color: white;
  border-radius: 9px;
  transition: all 0.2s linear;
  &:hover {
    background: white;
    color: black;
  }
}
