.container
  width: 100%
  max-width: 1120px
  height: 100px
  margin: 0 auto
  padding: 0 20px

.modal
  z-index: 50
  position: relative
  overflow: hidden
  &_right

    border-radius: 30px
    width: 256px
    position: relative
    span

      position: absolute
      bottom: 20px
      color: #fff
      font-weight: 600
      font-size: 20px
      padding-left: 20px
    img
      background: #DCDCDC
      width: 326px
      height: 315px
      border-radius: 30px
  &_center
    width: 420px
    &_items
      margin: 23px 0px
      display: flex
      justify-content: space-between
      ul

        display: flex
        flex-direction: column
        gap: 10px
        li
          color: var(--color)
          transition: all .2s linear
          &:hover
            cursor: pointer
            color: #AEC5F2
    &_title
      padding: 15px 30px
      background: var(--togray)
      border-radius: 30px
      display: flex
      justify-content: space-between
      p
        font-weight: 600
        font-size: 18px
        color: var(--towhite)
        &:last-child
          margin-right: 50px
  &_items
    display: flex
    gap: 40px
    align-items: flex-start
  &_leftcol
    &_active
      background: #0540F2
      color: #fff !important
      img
        filter: brightness(0) invert(1)
    ul
      display: flex
      flex-direction: column
      gap: 10px

      li
        display: flex
        align-items: center
        font-weight: 500
        border-radius: 30px
        padding: 10px
        color: var(--color)
        transition: all .2s linear
        &:hover
          cursor: pointer
          background: var(--tolightgray)

        img
          padding-right: 8px
          height: 22px

          color: var(--color)

  &_bg
    position: fixed
    inset: 0
    background-color: rgba(0, 0, 0, 0.3)

  &_container
    position: fixed
    margin: 0 auto
    margin-top: 208px

    overflow: hidden
    inset: 0

    height: 445px
    width: 1000px

    padding: 30px 15px

    background: var(--background-color)
    border-radius: 30px
    color: #000

    overscroll-behavior: contain
    &_close
      color: #000
      position: absolute
      top: 20px
      right: 30px
      background: #f8f8f8

.swiper_button_next
  &_wrapper
    border: 1px solid #fff
    border-radius: 50%
    width: 45px
    height: 45px
    position: absolute
    right: -35px
    bottom: 19px
  &::after
    position: absolute
    right: 15px
    bottom: 15px
    content: ''
    width: 13px
    height: 13px
    border-right: 2px solid #fff
    border-bottom: 2px solid #fff
    transform: rotate(-45deg)
.swiper_button_next
  &::before
    position: absolute
    content: ''
    width: 16px
    height: 2px
    background: #fff
    right: 15px
    bottom: 21px
.search_section
  position: relative
  display: flex
  align-items: center
  margin-top: 80px
  height: 100px
  background: var(--background-color)
  transition: background-color 0.3s ease-in-out
  //transition: transform 0.3s linear
  position: fixed
  top: 0
  width: 100vw
  z-index: 50
  // border-bottom: 1px solid #E8EBF5
  &_burger
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 40px
    background: transparent
    transition: all .2s ease
    border-radius: 30px
    height: 37px
    & span
      display: block
      content: ''
      width: 20px
      height: 3px
      background: #0540F2
      border-radius: 10px
      transition: all .2s linear
      &:not(:last-child)
        margin-bottom: 4px
    &.active
      background: #AEC5F2
    &_wrapper
      // width: 100vw
      // height: 100vh
      // position: absolute
      // left: 0
      // top: 100px
      // background: rgba(0, 0, 0, .6)
      transition: all .2s linear
    &_items
      transition: all .2s linear
      padding: 22px 35px
      background: var(--background-color)
      // position: absolute
      // background: white
      // border-radius: 30px
      // top: 14px
      // right: 35px
      // height: 85vh
      // width: 247px
      &_item
        font-size: 16px
        font-weight: 500

        cursor: pointer
  &__container
    display: flex
    justify-content: space-between
    align-items: center

    height: 54px
  &__logo
    width: 64px
    height: 42px
    & img
      width: 100%
      height: 100%

  &__catalog
    box-sizing: border-box
    width: 133px
    height: 42px
    display: flex
    justify-content: center
    border: 1px solid #0540F2
    border-radius: 30px
    align-items: center
    font-size: 16px
    color: var(--color)
    transition: all 0.2s ease-in-out

    &:hover
      color: #AEC5F2
    &_block
      margin-left: 19px
      display: flex
      align-items: center
      justify-content: center
      width: 31px
      height: 31px
      background: var(--togray)
      border-radius: 30px
      padding-bottom: 5px
    &_arrow
      margin-bottom: 4px
      margin-left: 10px
      width: 11px
      height: 11px
      border-right: 1px solid
      border-bottom: 1px solid
      transform: rotate(45deg)
      transition: all .2s linear
      &_profile

        width: 11px
        height: 11px
        border-right: 1px solid
        border-bottom: 1px solid
        transform: rotate(45deg)
        transition: all .2s linear
  &__search_block
    position: relative
    height: 100%
    width: 450px
    display: flex
    align-items: center
    justify-content: space-between

    border: 1px solid #0540F2
    border-radius: 50px

    font-size: 23px
    transition: all .3s linear
  &_links
    position: relative
    width: 90px
    display: flex
    justify-content: space-between
    align-items: center
    cursor: pointer
    & a img
      transition: all .2s linear
    & a img:hover
      opacity: .5
    &_cart

      &_count
        font-size: 12px
        color: #fff
        display: flex
        align-items: center
        justify-content: center
        height: 13px
        width: 27px
        position: absolute
        top: -6px
        right: -23px
        background: #0540F2
        border-radius: 10px
    &_heart
      padding-top: 3px
      &_count
        color: #fff
        font-size: 12px
        display: flex
        align-items: center
        justify-content: center
        height: 13px
        width: 27px
        position: absolute
        top: -6px
        right: 38px
        background: #0540F2
        border-radius: 10px

  &__search_block_glass
    margin-right: 10px
    display: flex
    justify-content: center
    align-items: center
    width: 40px
    height: 40px
    font-size: 20px
    background: var(--togray)
    padding: 10px
    border-radius: 50%

  &__search_item
    width: 100%
    margin: 0 20px 0 10px
    height: 100%
    font-size: 16px
    margin-left: 22px
    position: relative
    color: var(--color)
    &_close

      cursor: pointer

      top: 20px
      left: 10px
      &::before &::after
        content: ""
        position: absolute
        width: 24px
        height: 4px
        background: blue
      &::before
        transform: rotate(45deg)
      &::after

        transform: rotate(-45deg)

  input
    background: none
    &::placeholder
      color: var(--color)
      opacity: 0.5

  &__registr_block
    width: 14.68%
    display: flex
    justify-content: center
    align-items: center
    background-color: #007dfd
    font-size: 18px
    color: white
    border-radius: 9px
    transition: all 0.2s linear

  &__profile_block
    max-width: 200px
    display: flex
    align-items: center

    font-size: 18px
    color: var(--color)
    border-radius: 9px

    p
      transition: all 0.2s linear
      &:hover
        color: #AEC5F2

  &__logout_block
    width: 28px
    display: flex
    justify-content: center
    align-items: center

  &__login_block
    width: 104px
    height: 48px
    display: flex
    justify-content: center
    align-items: center
    background: #0540F2
    border-radius: 30px
    font-size: 18px
    color: white
    border: 2px solid #0540F2
    transition: all 0.2s linear
    &:hover
      background: transparent
      border: 2px solid #0540F2
      color: #0540F2
.menu

  display: inline-block
  text-align: left
  z-index: 50

  &_wrapper
    position: relative
    display: block

  &_button
    background: none
    display: block

  &_items

    position: absolute
    z-index: 40
    right: 0px
    margin-top: 8px
    width: 210px
    border-radius: 30px
    background: var(--background-color)
    display: flex
    justify-content: flex-start

    &_wrapper

      padding: 25px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: flex-start

    &_item

      padding: 8px 0 8px 11px
      text-align: left
      font-size: 16px
      font-weight: 500
      width: 170px
      background: none
      border-radius: 30px
      color: var(--color)
      transition: all .2s linear
      &_quit
        color: #0540F2
        padding: 8px 0 0 11px
        text-align: left
        font-size: 16px
        font-weight: 500
        width: 170px
        background: none
        border-radius: 30px
        transition: all .2s linear
        &:hover
          opacity: .7
      &:hover
        color: #fff
        background: #0540F2
.searchmodal
  &_container
    position: fixed
    margin-top: 178px
    margin-left: 699px
    overflow: hidden
    inset: 0

    height: fit-content
    width: 470px

    padding: 30px 15px

    background: var(--background-color)
    border-radius: 30px
    color: #000

    overscroll-behavior: contain
  &_top
    display: flex
    justify-content: space-between
    padding-bottom: 20px
    border-bottom: 2px solid var(--togray)

@media (max-width: 1199px)
  .container
    max-width: 960px
@media (max-width: 991px)
  .swiper_button_next
    &_wrapper
      bottom: 65px
      left: 20px
      width: 35px
      height: 35px
    &::after
      right: 10px
      bottom: 10px
    &::before
      bottom: 16px
      right: 10px

  .modal
    li
      font-size: 12px
    &_center
      width: 310px

      &_title

        padding: 15px
        justify-content: flex-start
        p
          font-size: 16px

    &_right
      width: 29vw
      span
        font-size: 16px
      img
        height: 290px
        width: 30vw

    &_items
      justify-content: center
      gap: 15px
    &_container
      width: 95vw
  .container
    max-width: 720px
  .search_section
    &__search_block
      width: 60%
@media (max-width: 767px)
  .modal
    &_center
      width: 60vw
      &_title
        justify-content: space-between
    &_right
      width: 40vw
      img
        width: 43vw
        height: 300px
    &_container
      margin-top: 100px
      height: 900px
    &_top
      display: flex
      gap: 10px
    &_leftcol

    &_items
      flex-direction: column
      align-items: center
  .container
    max-width: 540px
  .search_section
    &__search_block
      width: 50%
    &__catalog
      width: 110px
      font-size: 15px
@media (max-width: 575px)
  .swiper_button_next
    &::after
      width: 10px
      height: 10px
      right: 7px
      bottom: 9px
    &::before
      width: 12px
      right: 8px
      bottom: 13px
    &_wrapper
      bottom: 70px
      width: 30px
      height: 30px
  .modal
    &_center
      width: 72vw

    &_leftcol
      ul
        gap: 2px
    &_right
      span
        font-size: 14px
        bottom: 30px
      img
        object-fit: cover
        height: 250px
  .search_section
    &__search_block
      width: 50%
      height: 42px
      &_glass
        width: 30px
        height: 30px
        & i
          font-size: 15px
    &_burger
      width: 30px
    &__catalog
      width: 100px
      font-size: 14px
    &__logo
      width: 45px

  .container
    max-width: 100%
