li
	list-style: inside !important
	margin-left: 10px
	font-size: 17px
.wrapper
	padding: 20px
	border: 1px solid #0540F2
	border-radius: 20px
.info
	&_buyer
	&_title
		font-size: 26px
		text-align: center
	&_suptitle
		text-align: end
		font-style: italic
	&_item
		font-size: 18px
		&:not(:last-child)
			margin-bottom: 15px
		&:nth-child(6)
			font-size: 20px
			padding: 10px
			border: 1px solid #0540F2
			border-radius: 20px
			& li
				&:last-child
					font-style: italic
					text-decoration: underline
