.wrapper
	display: flex
	align-items: center
	justify-content: space-between
.container
	margin: 0 auto
	background-color: #007DFD
	width: 600px
	display: flex
	align-items: center
	justify-content: space-between
	margin-bottom: 30px
	padding: 50px 20px
	border-radius: 10px
	&_confirm
		margin: 0 auto
		background-color: #414141
		width: 600px
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 30px
		padding: 50px 20px
		border-radius: 10px
.btn
	background-color: #90f77b
	color: #fff
	width: 100px
	height: 50px
	border-radius: 10px
	&_confirm
		background-color: #a8a8a8
		color: #fff
		width: 100px
		height: 50px
		border-radius: 10px
