.person
    &__delivery
        &_history
            display: flex
            align-items: center
            justify-content: center
            height: auto
            &_mess
                font-size: 20px
                padding: 24px 35px
                margin: 100px 355px
                border-radius: 20px
                background-color: white
                color: black
            &_wrapper
                display: none
                width: 100%
                height: auto
                border-radius: 30px
                &.active
                    display: block
                &_title
                    text-align: center
                    font-size: 20px
                    margin-bottom: 40px
                &_item
                    display: flex
                    justify-content: space-between
                    align-items: center
                    height: 260px
                    background: #020202
                    border-radius: 15px
                    padding: 0 62px
                    &:not(:last-child)
                        margin-bottom: 36px
                    &_img_block
                        width: 136px
                        height: 136px
                        display: flex
                        justify-content: center
                        align-items: center
                        background: white
                        border-radius: 20px
                        & img
                            width: 80%
                            height: 80%
                            border-radius: 20px

                    &_name
                        display: flex
                        justify-content: center
                        align-items: center
                        width: 150px
                        height: 60px
                        font-size: 22px
                    &_number
                        display: flex
                        justify-content: center
                        align-items: center
                        background-color: #007DFD
                        color: white
                        border-radius: 50%
                        width: 34px
                        height: 34px
                        & span
                    &_price
                        font-size: 22px
                    &_status
                        width: 126px
                        height: 43px
                        display: flex
                        justify-content: center
                        align-items: center
                        border-radius: 13px
                        background-color: #2DB118
                        color: white
                        font-weight: 700
                        &_deliv
                            background-color: #007DFD
                        &_return
                            background-color: #3D3D3D33
                    &_buttons
                        height: 104px
                        width: 181px
                        font-size: 18px
                        display: flex
                        flex-direction: column
                        justify-content: space-between
                        & div
                            width: 100%
                            background: #007DFD
                            &:last-child
                                background: white
                                color: black
@media (max-width: 991px)
    .person
        &__delivery
            &_history
                &_mess
                &_wrapper
                    height: 180px
                    &.active
                    &_title
                    &_item
                        height: 200px
                        padding: 0 30px
                        &:not(:last-child)
                        &_img_block
                        &_name
                            width: 110px
                        &_number
                            & span
                        &_price
                        &_status
                            &_deliv
                            &_return
                        &_buttons
                            & div
                                &:last-child
@media (max-width: 767px)
    .person
        &__delivery
            &_history
                &_mess
                &_wrapper
                    &.active
                    &_title
                    &_item
                        padding: 0 20px
                        &:not(:last-child)
                        &_img_block
                            width: 115px
                            height: 115px

                        &_name
                            width: 85px
                            font-size: 18px
                        &_number
                            width: 26px
                            height: 26px
                            & span
                                font-size: 14px
                        &_price
                            font-size: 19px
                        &_status
                            width: 90px
                            height: 36px
                            font-size: 15px
                            &_deliv
                            &_return
                        &_buttons
                            & div
                                &:last-child
@media (max-width: 575px)
    .person
        &__delivery
            &_history
                &_mess
                &_wrapper
                    &.active
                    &_title
                    &_item
                        flex-direction: column
                        padding: unset
                        width: 300px
                        height: 380px
                        padding: 30px 0
                        &:not(:last-child)
                            margin-bottom: 70px
                        &_img_block
                        &_name
                            height: unset
                            width: 100%
                        &_number
                            & span
                        &_price
                        &_status
                            &_deliv
                            &_return
                        &_buttons
                            & div
                                &:last-child
