.container
  width: 100%
  max-width: 1120px
  height: 100%
  margin: 0 auto
  padding: 0 15px

.footer
  height: 440px
  // background-color: #080808
  background: var(--togray)
  a
    color: #181818
  &__container
    display: flex
    flex-direction: column
    justify-content: center
  &__titles
    font-weight: 700
    font-size: 24px
    display: flex
    justify-content: space-between
    margin-bottom: 40px
    color: #0528F2
  &__title
    font-size: 24px
    margin-bottom: 30px
  &__blocks
    width: 100%
    display: flex
    gap: 95px
  &__block
    display: flex
    flex-direction: column
    width: 18.57%
    a
      color: var(--color)
      &:hover
        color: #aec5f2
    &_social
      display: flex
      align-items: center
      gap: 20px
    &_suptitle
      font-size: 18px
      font-weight: 400
      &:not(:last-child)
        margin-bottom: 8px
@media (max-width: 1199px)
  .footer
    &__title
@media (max-width: 991px)

@media (max-width: 767px)

@media (max-width: 575px)

  .footer
    &__container
      flex-wrap: wrap
      max-width: 390px
    &__titles
      flex-wrap: wrap
      justify-content: flex-start
      gap: 73px
    &__title
      font-size: 16px
      margin-bottom: 10px
    &__block

      &_social
        img
          width: 24px
      &_suptitle
        font-size: 12px
