.container
  width: 100%
  max-width: 1120px
  height: 100%
  margin: 0 auto
  padding: 0 15px

.footer
  padding-top: 132px
  padding-bottom: 150px
  // height: 440px
  // background-color: #080808
  background: var(--togray)
  a
    color: #181818
  &__container
    display: flex
    flex-direction: column
    justify-content: center
  &__titles
    font-weight: 700
    font-size: 24px
    display: flex
    justify-content: space-between
    margin-bottom: 40px
    color: #0540F2
  &__title
    font-size: 24px
    margin-bottom: 30px
  &__block
    display: flex
    flex-direction: column
    width: 18.57%
    a
      color: var(--color)
      &:hover
        color: #aec5f2
    &_social
      display: flex
      align-items: center
      gap: 20px
    &_suptitle
      font-size: 18px
      font-weight: 400
      &:not(:last-child)
        margin-bottom: 8px
@media (max-width: 1199px)
  .container
    max-width: 960px
@media (max-width: 991px)
  .container
    max-width: 720px
  .footer
    &__block
      width: 45%
      &_suptitle
        width: fit-content
@media (max-width: 767px)
  .container
    max-width: 540px

@media (max-width: 575px)
  .container
    max-width: 100%
  .footer
    &__titles
      flex-direction: column
      justify-content: center
      align-items: center
    &__block
      display: flex
      &:not(:last-child)
        margin-bottom: 50px
