.slider__section
    position: relative
    margin-bottom: 100px
    background-color: #EDEDED
    & .swiper-button-prev, & .swiper-button-next
        width: 45px
        height: 45px
        background: white
        border-radius: 50%
    & .swiper-button-prev
        left: 100px
    & .swiper-button-next
        right: 100px
    & .swiper-button-next:after
        position: absolute
        right: 15px
        content: ''
        width: 10px
        height: 10px
        border-right: 2px solid #181818
        border-bottom: 2px solid #181818
        transform: rotate(-45deg)
    & .swiper-button-next:before
        position: absolute
        content: ''
        width: 15px
        height: 2px
        background: #181818
        right: 14px

    & .swiper-button-prev:after
        position: absolute
        left: 15px
        content: ''
        width: 10px
        height: 10px
        border-right: 2px solid #181818
        border-bottom: 2px solid #181818
        transform: rotate(135deg)
    & .swiper-button-prev:before
        position: absolute
        content: ''
        width: 15px
        height: 2px
        background: #181818
        left: 14px
    & .swiper-pagination
        bottom: 50px !important
    & .swiper-pagination .swiper-pagination-bullet
        background: white
        width: 15px
        height: 2px
        border-radius: 1px

    &__item
        display: flex !important
        flex-direction: column
        justify-content: center
        align-items: flex-start
        padding-left: 300px
        width: 100%
        height: calc(100vh - 80px) !important
        color: white
        &:nth-child(1)
            background-repeat: no-repeat
            background-size: cover
            background-position: center
        &:nth-child(2)
            background-repeat: no-repeat
            background-size: cover
            background-position: center
        &:nth-child(3)
            background-repeat: no-repeat
            background-size: cover
            background-position: center
        &_title
            font-weight: 700
            font-size: 66px
            margin-bottom: 20px
        &_suptitle
            font-size: 22px
            margin-bottom: 40px
        &_link
            font-size: 24px
            padding: 25px 50px
            background: #0540F2
            box-shadow: 0px 2px 40px rgba(5, 64, 242, 0.25)
            border-radius: 300px
