.cart
    &__title
        font-size: 29px
        margin-bottom: 62px
        & span
            color: #007DFD
    &__delivery_items
        background: none
        padding: 0
        &_parameters
            display: grid
            grid-template-columns: repeat(2, auto)
            justify-content: center
            align-items: center
            gap: 10px
        &_item
            a
                font-size: 25px
                font-weight: bold
            &:not(:last-child)
                border-bottom: 2px solid #E8EBF5
            &_left
                display: flex
            &_right
                width: fit-content
                display: flex
                align-items: flex-end
                flex-direction: column
                gap: 20px
            &_name
                margin-top: 20px
                display: flex
                flex-direction: column
                align-items: flex-start
                width: 200px
                margin-left: 15px
                font-weight: 600
                font-size: 24px
                color: #0540F2
                span
                    color: var(--color)
                    font-size: 16px
                    font-weight: 500
            &_count
                &_wrapper
                    background: none
                    border-radius: 30px
                    border: 2px solid #0540F2
                    width: 80px
                    display: flex
                    justify-content: space-evenly
                    align-items: center

                &_number_block
                    background: none
                    width: unset
                    height: unset
                    span
                        color: #0540F2
                &_minus
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 23px
                    height: 23px
                    background: none
                    & div
                        width: 12px
                        height: 2px
                        background-color: #0540F2
                &_pluses
                    display: flex
                    align-items: center
                    justify-content: center
                    background: none
                    width: 23px
                    height: 23px
                    border-radius: 50%
                    &_itemv
                        height: 12px
                        width: 2px
                        background-color: #0540F2
                        transform: translateX(5px)
                    &_itemh
                        width: 12px
                        height: 2px
                        background-color: #0540F2
                        transform: translateY(-7px)
            &_block_img
                display: flex
                justify-content: center
                align-items: center
                border-radius: 20px
                background-color: none
                width: 136px
                height: 136px
            &_price
                display: flex
                justify-content: center
                width: auto
                font-weight: 600
                font-size: 24px
            &_favorite
                &_block_delete
                    display: flex
                    &_button
                        height: 32px
                        font-size: 18px
                        background: none
                        border: 1px solid #0540F2
                        color: #0540F2
                        border-radius: 30px
                        padding: 0px 12px
                        margin-right: 10px
                        transition: all .2s linear
                        &:hover
                            background: #0540F2
                            color: white

.person
    &__delivery
        &_items
            &_item
                background-color: transparent
                width: 100%
                height: 180px
                display: flex
                justify-content: space-between
                align-items: center

                font-size: 20px
                &:not(:last-child)
                    // margin-bottom: 20px
                &_img
                    height: 100%
                    width: 100%
                    object-fit: cover
                    border-radius: 20px
                    overflow: hidden
                &_number
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 34px
                    height: 34px
                    border-radius: 50%
                    background: #007DFD
                &_name
                    & span:nth-child(3)
                        color: #828282
@media (max-width: 1199px)
    .cart
        &__delivery
            &_items
                &_item
                    &_name
                    &_block
@media (max-width: 991px)
    .cart
        &__delivery
            &_items
                &_item
                    font-size: 17px
                    &_price
                        width: 77px
                        white-space: nowrap
                    &_name
                        width: 190px
                        line-height: 30px
                    &_count_wrapper
                        width: 70px
                        font-size: 18px
                    &_block
                        &_img
                            width: 120px
                            height: 120px

@media (max-width: 767px)
    .person
        &__delivery
            &_items
                &_item
                    padding: 0px
                    padding-right: 15px
                    width: 450px

    .cart
        &__delivery
            &_items
                &_item
                    &_block_img
                        width: 120px
                        height: 120px
                    &_count_wrapper
                        width: 80px
                        font-size: 21px
                    &_price
                        width: 110px
                        font-size: 22px
@media (max-width: 575px)
    .person
        &__delivery
            &_items
                &_item
                    width: 300px
    .cart
        &__delivery
            &_items
                &_item
                    &_name
                        font-size: 18px
                        width: 100px
                    &_block_img
                        width: 80px
                        height: 80px
                    &_count_wrapper
                        width: 60px
                        font-size: 14px
                    &_price
                        width: 80px
                        font-size: 20px
                        white-space: nowrap
