.person
    margin: 34px 0

    &__favorites_wrapper

        &_items
            &_item
                display: flex
                flex-direction: column
                justify-content: space-between
                align-items: center
                height: 483px
                &_img_wrapper
                    background: white
                    border-radius: 29px
                &_img
                    border-radius: 29px
                    width: 100%
                &_name
                    font-size: 20px
                &_price
                    font-size: 20px 
                    padding: 15px 30px 
                    background-color: #2DB118
                    border-radius: 12px
                    color: white
                    &_none_item
                        background-color: #5A5A5A
                &_add_cart
                    background-color: #492FEB
                    padding: 15px 30px
                    color: white
                    border-radius: 12px
                    font-size: 20px
        &.active
            display: block
@media (max-width: 991px)
    .person
        &__favorites_wrapper_items
            &_item
                &_price
                    font-size: 19px
                    padding: 15px 14px
                &_add_cart
                    padding: 15px 7px
@media (max-width: 767px)
    .person
        &__favorites_wrapper_items
            &_item
                height: 440px
                &_price
                &_add_cart
        