.favorite
    &__item

        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        height: 250px
        border-radius: 30px
        &:not(:last-child)
            border-bottom: 2px solid #E8EBF5
        &_imgBlock
            padding-top: 16px
            padding-left: 11px
            display: flex
            justify-content: center
            align-items: center
            width: 165px
            height: 125px
            & img
                width: 100%
                height: 100%
                object-fit: cover
                object-position: center
        &_columnBlock
            width: 69%
            height: 100%
            display: flex
            flex-direction: column
            justify-content: center
            &_upBlock
                display: flex
                justify-content: space-between
                align-items: center
                margin-top: 22px
                margin-bottom: 8px
                &_name
                    width: 200px
                    font-size: 25px
                    color: #0540F2
                    font-weight: 600
                    line-height: 29px
                &_price
                    font-size: 24px
                    color: var(--color)
                    font-weight: 600
                    line-height: 29px
        &_midBlock
            width: 140px
            display: grid
            grid-template-columns: repeat(2, auto)
            gap: 10px
            margin: 20px 0
        &_bottomBlock
            display: flex
            justify-content: end
            &_button
                display: flex
                align-items: center
                justify-content: center
                gap: 10px
                width: 120px
                height: 43px
                font-size: 18px
                border: 1px solid #0540F2
                color: #0540F2
                font-weight: 500
                border-radius: 30px
                transition: background-color 0.3s ease-in-out
            &_minus
                display: flex
                justify-content: center
                align-items: center
                width: 15px
                height: 2px
                background: #0540F2
                &_wrapper
                    display: flex
                    align-items: center
                    justify-content: center
                    background: none
                    width: 23px
                    height: 23px
                    border-radius: 50%
            &_pluses
                display: flex
                align-items: center
                justify-content: center
                background: none
                width: 23px
                height: 23px
                border-radius: 50%
                &_block
                &_itemv
                    height: 15px
                    width: 2px
                    background-color: #0540F2
                    transform: translateX(7px)

                &_itemh
                    width: 15px
                    height: 2px
                    background-color: #0540F2
                    transform: translateY(-9px)

            &_delete
                display: flex
                justify-content: center
                align-items: center
                width: 117px
                height: 43px
                border: 1px solid #0540F2
                color: #0540F2
                border-radius: 30px
                font-size: 16px
                background: transparent
                margin-right: 12px
            &_addToCart
                display: flex
                justify-content: center
                align-items: center
                width: 145px
                height: 43px
                background: #0540F2
                color: white
                font-size: 16px
                border-radius: 30px
@media (max-width: 767px)
    .favorite
        &__item
            width: 100%
            padding-right: 20px
            &_imgBlock
                width: 132px
                height: 102px
            &_columnBlock
                &_upBlock
                    &_name
                        width: 173px
@media (max-width: 575px)
    .favorite
        &__item
            &_imgBlock
                width: 88px
                height: 68px
            &_columnBlock
                width: 75%
                &_upBlock
                    &_name
                        width: 146px
                        font-size: 20px
                        color: #0540F2
                        font-weight: 600
                        line-height: 29px
                    &_price
                        font-size: 20px
                        font-weight: 600
                        line-height: 29px
