.favorite
    &__item
        // padding: 16px 36px 23px 11px
        padding-right: 36px
        padding-bottom: 23px

        display: flex
        justify-content: space-between
        align-items: center
        width: 640px
        height: 170px
        background-color: var(--togray)
        border-radius: 30px
        &_imgBlock
            padding-top: 16px
            padding-left: 11px
            display: flex
            justify-content: center
            align-items: center
            width: 165px
            height: 125px
            & img
                width: 100%
                height: 100%
        &_columnBlock
            width: 69%
            display: flex
            flex-direction: column
            justify-content: center
            &_upBlock
                display: flex
                justify-content: space-between
                align-items: center
                margin-top: 22px
                margin-bottom: 8px
                &_name
                    width: 260px
                    font-size: 24px
                    color: #416EF2
                    font-weight: 600
                    line-height: 29px
                &_price
                    font-size: 24px
                    color: var(--color)
                    font-weight: 600
                    line-height: 29px
        &_midBlock
            font-size: 16px
            line-height: 19px
            color: var(--color)
            font-weight: 500
            margin-bottom: 10px
        &_bottomBlock
            display: flex
            justify-content: end
            &_button
                display: flex
                align-items: center
                justify-content: center
                gap: 10px
                width: 120px
                height: 43px
                font-size: 18px
                border: 1px solid #416EF2
                color: #416EF2
                font-weight: 500
                border-radius: 30px
                background-color: var(--togray)
                transition: background-color 0.3s ease-in-out
            &_minus
                display: flex
                justify-content: center
                align-items: center
                width: 15px
                height: 2px
                background: #416EF2
                &_wrapper
                    display: flex
                    align-items: center
                    justify-content: center
                    background: none
                    width: 23px
                    height: 23px
                    border-radius: 50%
            &_pluses
                display: flex
                align-items: center
                justify-content: center
                background: none
                width: 23px
                height: 23px
                border-radius: 50%
                &_block
                &_itemv
                    height: 15px
                    width: 2px
                    background-color: #416EF2
                    transform: translateX(7px)

                &_itemh
                    width: 15px
                    height: 2px
                    background-color: #416EF2
                    transform: translateY(-9px)

            &_delete
                display: flex
                justify-content: center
                align-items: center
                width: 117px
                height: 43px
                border: 1px solid #416EF2
                color: #416EF2
                border-radius: 30px
                font-size: 16px
                background: transparent
                margin-right: 12px
            &_addToCart
                display: flex
                justify-content: center
                align-items: center
                width: 145px
                height: 43px
                background: #416EF2
                color: white
                font-size: 16px
                border-radius: 30px
@media (max-width: 767px)
    .favorite
        &__item
            width: 100%
            padding-right: 20px
            &_imgBlock
                width: 132px
                height: 102px
            &_columnBlock
                &_upBlock
                    &_name
                        width: 173px
@media (max-width: 575px)
    .favorite
        &__item
            &_imgBlock
                width: 88px
                height: 68px
            &_columnBlock
                width: 75%
                &_upBlock
                    &_name
                        width: 146px
                        font-size: 20px
                        color: #416EF2
                        font-weight: 600
                        line-height: 29px
                    &_price
                        font-size: 20px
                        font-weight: 600
                        line-height: 29px
